# URI de conexión a la base de datos MongoDB
# Puedes usar una base de datos local o un clúster de MongoDB Atlas
MONGO_URI=mongodb+srv://tu_usuario:tu_contraseña@cluster0.example.mongodb.net/nombre_bd?appName=Cluster0

# Código de registro para docentes (utilizado para validar el rol de Docente en el registro)
TEACHER_REGISTRATION_CODE=DOC88

# Clave secreta para firmar y verificar los tokens JWT
JWT_SECRET=tu_clave_secreta_super_segura_de_desarrollo

# Puerto en el que correrá el servidor del backend
PORT=5000
